<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            Anasayfa
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about.html">Hakkımızda</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="contact.html">Bloglar</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="contact.html">İletişim</a>
    </li>

</ul>