
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_UserLayout</title>
</head>
    Burası Layouttur
<body>
    @RenderBody()
</body>
</html>
