
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Burası test sayfasıdır..</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Kübra</td>
        <td>Kılıç</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Demo</td>
        <td>Giriş</td>
    </tr>
</table>

